$family-sans-serif: 'Muli', sans-serif;

$primary: #FA2942;
$primary-dark: #941827;
$light: #FEFCFE;
$dark: #121418;

$body-background-color: #121418;
$body-overflow-y: auto;
$text: $light;
$link: $primary;
$link-hover: $primary-dark;
$link-active: $primary-dark;
$link-visited: $primary-dark;

$navbar-background-color: transparent;